
<div  class="banner" style="background-image: url(https://png.pngtree.com/background/20230410/original/pngtree-car-light-effect-smog-technology-background-picture-image_2385148.jpg);">
  <div class="banner-container">
    <h2>DREAM</h2>
    <h3>GARAGE</h3>
    <p>Your dream cars in one place</p>

    <div>
    <%=link_to "See Cars", cars_path, class: "btn btn-primary" %>
    <%= link_to "My Garage", favourites_path, class: "btn btn-secondary" %>
  </div>


  </div>
</div>
